<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" class="me-2" alt=""/>
      <span class="text-light" style="font-size: 1.5rem;">changemyview</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link text-light{% if activeTab == "home" %} active{% endif %}" href="/theshadows" style="font-size: 1.2rem">Awards</a>
        </li>
      </ul>

      <div class="ms-auto text-light">
        v{{ version }}
      </div>
    </div>
  </div>
</nav>
